@font-face {
	font-family: 'Runescape';
	src: url('fonts/RuneScape-Plain-12.otf');
}
@font-face {
	font-family: 'RunescapeBold';
	src: url('fonts/RuneScape-Bold-12.otf');
}

.banner {
	width: 100%;
	background-image: url(images/clanbanner.png);
	background-size: auto;
	height: 450px;
	background-position: center;
}

body {
	background-color: #121212;
	margin: 0;
}
.body {
	font-family: 'Runescape';
	font-size: 1.4em;
	color: #ffff00;
	background-color: #121212;
	max-width: 50%;
	margin: auto;
}
h2, h3, b {
	font-family: 'RunescapeBold';
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

li {
	float: left;
}

li button {
	display: block;
	border: none;
	color: #ffff00;
	text-align: center;
	padding: 0.5em 0.7em;
	text-decoration: none;
	background-color: #121212;
	font-family: 'Runescape';
	font-size: 1.5em;
	color: #ffff00;
	background-color: #121212;
}

li button:hover {
	background-color: #000;
}

a:link, a:visited {
	text-decoration: none;
}