@font-face {
	font-family: 'Runescape';
	src: url('fonts/RuneScape-Plain-12.otf');
}
@font-face {
	font-family: 'RunescapeBold';
	src: url('fonts/RuneScape-Bold-12.otf');
}
body {
	font-family: 'Runescape';
	font-size: 1.4em;
}
h2, h3, b {
	font-family: 'RunescapeBold';
}

.nav-bar {
	width: 50%;
	align-items: center;
}

.nav-bar-item {
	font-family: 'Runescape';
	font-size: 1.5em;
}

.tab {

}